/Makefile.conf
/config.log
*.swp
*.o
*.r
*.so
*.pc
/lib*/*.a
/doc/man1/roarcat.1
/doc/man1/roarcat2sock.1
/doc/man1/roarcatad.1
/doc/man1/roarmon.1
/doc/man1/roarsin.1
/doc/man1/roarsockconnect.1
/doc/man3/roar_codec2str.3
/doc/man3/roar_set_standby.3
/doc/man3/roar_set_vol.3
/doc/man3/roar_simple_filter.3
/doc/man3/roar_simple_monitor.3
/doc/man3/roar_simple_new_stream_obj.3
/doc/man3/roar_simple_record.3
/doc/man3/roar_terminate.3
/include/roaraudio/config.h
/lib/pgptest
/lib/pinentrytest
/lib/pipetest
/lib/polytest
/lib/roar-config
/lib/roarbidir
/lib/roarcat
/lib/roarcat2sock
/lib/roarcatad
/lib/roarcatpassfh
/lib/roarcatplay
/lib/roarcatsendfile
/lib/roarcatvio
/lib/roarclientpass
/lib/roarctl
/lib/roard
/lib/roardtmf
/lib/roarfctest
/lib/roarfilt
/lib/roarify
/lib/roarinterconnect
/lib/roarlight
/lib/roarmon
/lib/roarmonhttp
/lib/roarphone
/lib/roarradio
/lib/roarshout
/lib/roarsin
/lib/roarsockconnect
/lib/roarsocktypes
/lib/roartypes
/lib/roarvorbis
/lib/roarvumeter
/lib/zcattest
/libroareio/autodetected.h
/roarclients/pgptest
/roarclients/pinentrytest
/roarclients/pipetest
/roarclients/polytest
/roarclients/roar-config
/roarclients/roarbidir
/roarclients/roarcat
/roarclients/roarcat2sock
/roarclients/roarcatad
/roarclients/roarcatpassfh
/roarclients/roarcatplay
/roarclients/roarcatsendfile
/roarclients/roarcatvio
/roarclients/roarclientpass
/roarclients/roarctl
/roarclients/roardtmf
/roarclients/roarfctest
/roarclients/roarfilt
/roarclients/roarify
/roarclients/roarinterconnect
/roarclients/roarlight
/roarclients/roarmon
/roarclients/roarmonhttp
/roarclients/roarphone
/roarclients/roarradio
/roarclients/roarshout
/roarclients/roarsin
/roarclients/roarsockconnect
/roarclients/roarsocktypes
/roarclients/roartypes
/roarclients/roarvorbis
/roarclients/roarvumeter
/roarclients/zcattest
/roard/roard
